body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: black;
    color: var(--text-color-dark);
    line-height: 1.6; 
    transition: background-color 0.5s, color 0.5s;
}

/* Page elements */
header, main, footer {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: #777;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #555; /* Changed to gray */
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
    color: #777;
}

/* Sections */
section {
    border: 1px solid #ccc; /* Changed to gray */
    padding: 5px;
    margin-bottom: 5px;
    background-color: black;
    transition: background-color 0.2s ease-in-out;
}

section:hover {
    background-color: #e0e0e0;
}

/* Footer */
footer {
    text-align: center;
    font-size: 0.8em;
    color: #777;
}

/* Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

#c {
    position: fixed; /* Fix the position so it doesn't move with page scroll */
    top: 0;
    left: 0;
    z-index: -1; /* This will keep the canvas in the background */
    width: 100vw; /* This will cover the full viewport width */
    height: 100vh; /* This will cover the full viewport height */
}

canvas {display:block;}

#c, #myCanvas {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -1; 
    width: 100vw; 
    height: 100vh; 
    opacity: 1; /* adjust as needed */
}

section.cms-boxes .cms-boxes-outer {
    text-align: left;
    margin-bottom: 6px;
    padding: 0 3px;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items {
    height: 350px;
    display: table;
    width: 100%;
}
section.cms-boxes .cms-resume {
    background-color: #6d0808;
    background-size: cover;
}
section.cms-boxes .boxes-align {
    display: table-cell;
    vertical-align: middle;
}
section.cms-boxes .small-box, section.cms-boxes .large-box {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}
section.cms-boxes .cms-boxes-items h3 {
    font-size: 35px;
    color: #fff;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
    margin: 20px 0 10px;
    text-transform: uppercase;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items p {
    color: #fff;
}
section.cms-boxes .boxes-align {
    display: table-cell;
    vertical-align: middle;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items {
    height: 350px;
    display: table;
    width: 100%;
}
section.cms-boxes .cms-resume {
    background-color: #6d0808;
    background-size: cover;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items {
    height: 350px;
    display: table;
    width: 100%;
}
section.cms-boxes .cms-projects {
    background-color: #6d0808;
}
section.cms-boxes .cms-projects {
    background-color: rgb(8, 8, 8);
}
section.cms-boxes .cms-hobbies {
    background-color: #6d0808;
    background-size: cover;
}
section.cms-boxes .cms-boxes-outer {
    text-align: left;
    margin-bottom: 6px;
    padding: 0 3px;
}
section.cms-boxes .cms-interests {
    background-color: rgb(8, 8, 8);
    background-size: cover;
}
section.cms-boxes .cms-play {
    background-color: #6d0808;
}
section.cms-boxes .cms-boxes-items:hover {
  opacity: 0.2;
  cursor: pointer;
}

section.cms-boxes a {
    color: #555; /* Change to the color you want */
    text-decoration: none; /* Remove underline */
    transition: color 0.2s ease-in-out; /* Smooth color transition */
}

section.cms-boxes a:hover {
    color: black; /* Change to the color you want on hover */
}

#cats img {
    max-width: auto;
    height: 500px;
    margin-bottom: 5px;
    overflow: hidden;
}

.game-container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: black;
}

/* Hangman Game Styles */
#hangman {
    display: block; /* Make hangman a block-level element */
    margin: 20px auto; /* Center the hangman display */
    text-align: center;
    font-family: monospace; /* Use a monospace font for better alignment */;
    background-color: black;
    color: white;
}

#word-display {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: black;
    color: white;
}

#guessed-letters {
    margin-bottom: 10px;
    background-color: black;
    color: white;
}

.center-heading {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    background: transparent;
    position: relative;
    z-index: 1;
    margin: 0 auto; /* Add this line to center the grid horizontally */
    max-width: 1000px; /* Adjust the max-width as needed */
    justify-items: center;
}

@media (max-width: 768px) {
    header, main, footer {
        width: 95%;
        padding: 5px;
        margin-bottom: 5px;
    }

    .profile-photo {
        width: 100px;
        height: 100px;
    }

    .project {
        padding: 5px;
    }

    h1, h2, h3 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    nav ul li a {
        font-size: 16px;
    }
}

/* Initial image styling */
.image-container {
    display: inline-block; /* Allow centering */
    width: 300px;         /* Match initial image width */
    overflow: hidden;    /* Hide overflow during expansion */
}

/* Expanded image styling */
.image-container.expanded {
    position: fixed;      
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    z-index: 100;        
    max-width: 90vw;     /* Limit max width to 90% of viewport */
    max-height: 90vh;    /* Limit max height to 90% of viewport */
}

/* Optional animation */
.image-container img {
    transition: all 0.3s ease; /* Smooth transition */
}
